body {
    background: #17171b;
    font-family: sans-serif, Arial, Helvetica;
}

.page {
    display: flex;
    justify-content: center;
}

.tittle {
    background-color: #c71717;
    color: white;
    border: #2d2d33 3px solid;
    border-radius: 25px;
    width: 30%;

    display: flex;
    justify-content: center;
}

.search {
    /* margin-left: 20px;
    margin-bottom: 10px; */
    padding-left: 20px;
    padding-bottom: 10px;
}

.search_input {
    border: #2d2d33 3px solid;
    border-radius: 10px;
}

.search_boton {
    background-color: #0a59cb;
    color: white;
    border: #2d2d33 3px solid;
    border-radius: 10px;
    margin-left: 5px;
}

.viewtrailer {
    min-height: 700px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: #2d2d33 5px solid;

    display: flex;
    align-items: flex-end;
}

.boton_trailer {
    background-color: #0f1014;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.reproductor {
    width: 1000px;
    height: 500px;
}

.movies {
    padding-left: 20px;
    padding-right: 20px;
}

/* .movies_card {
    height: 200px;
} */

.movies img {
    border-radius: 10px;
    border: #2d2d33 5px solid;
    object-fit: contain;
    height: auto !important;
}

.movie_tittle {
    color: white;
}

.banner {
    padding-left: 20px;
    padding-right: 20px;
}
